# 課程三: Import Module

In [1]:
import numpy as np
import datetime

### 1. Design Class

In [2]:
class Calculator:
    def __init__(self):
        today = datetime.datetime.today().strftime('%Y%m%d')
        now =  datetime.datetime.now().strftime('%H:%M:%S')
        print(f'Hello, This is DELL Calculator T-800, today is {today}')

    def subtract(self, x, y):
        result = np.subtract(x, y)
        return result
    
    def add(self, x, y):
        result = np.add(x,y)
        return result

    def multiply(self, x, y):
        result = np.multiply(x, y)
        return result

    def divide_jay(self, x, y):
        result = x/y
        return result
        
    def divide(self, x, y):
        result = np.divide(x, y)
        return result
    
    def log10(self, x):
        result = np.log10(x)
        return result
    
    def square(self, x):
        result = np.square
        return result
    
    def sin(self, degree):
        rad = np.deg2rad(degree)
        sin_value = np.sin(rad)
        return sin_value

### 2. Use Calculator Object

In [3]:
calculator1 = Calculator()

Hello, This is DELL Calculator T-800, today is 20240426

In [ ]:
result_add = calculator1.add(5000,2500)
print('5000+2500=',result_add)

In [ ]:
result_subtract = calculator1.subtract(5000, 2500)
print('5000-2500=',result_subtract)

In [4]:
calculator1.divide_jay(10,0)

ZeroDivisionError: division by zero

In [5]:
calculator1.divide(10,0)

/var/folders/m2/9kqnv3292pd3zv6hw2ffgk8h0000gn/T/ipykernel_21095/3747203614.py:24: RuntimeWarning: divide by zero encountered in divide
  result = np.divide(x, y)

inf

## 3. 其他好用套件

In [6]:
#產生隨機數字, 資料
import random

In [17]:
random_number = random.randint(0, 10)
print(random_number)

0

In [18]:
# python版的excel
import pandas as pd

In [19]:
df = pd.DataFrame([ [49,53,44,3], 
               [90,91,87,60], 
              [95,93,77,83]
             ],
             columns=['國語','英文','數學','體育'],
             index=['大雄','阿福','靜香']
            )
df

    國語  英文  數學  體育
大雄  49  53  44   3
阿福  90  91  87  60
靜香  95  93  77  83

In [20]:
#計算DataFrame df 中每一列的平均值
df.mean(axis=0)

國語    78.000000
英文    79.000000
數學    69.333333
體育    48.666667
dtype: float64

In [21]:
#計算DataFrame df 中每一行的平均值
df.mean(axis=1)

大雄    37.25
阿福    82.00
靜香    87.00
dtype: float64

In [22]:
#將DataFrame df 中國語這列的分數開根號乘以10
df['國語_調整後'] = df['國語'].map(lambda x: np.sqrt(x)*10)
display(df)

    國語  英文  數學  體育     國語_調整後
大雄  49  53  44   3  70.000000
阿福  90  91  87  60  94.868330
靜香  95  93  77  83  97.467943

![](file.png)

---